[verified-navbar-element='component'] {
  transition: transform 0.5s ease, opacity 0.5s ease, background 0.25s ease;
}

[verified-navbar-element='component'].is-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

[verified-navbar-element='component'].is-visible {
  transform: translateY(0%);
  opacity: 1;
}

[verified-navbar-element='component'].w-nav.is-bg {
  background: white;
}

[verified-navbar-element='menu'][data-nav-menu-open] + .navbar_extra_bg {
  opacity: 1 !important;
}

[navbar-mode='2'] :is(.logotype_wrap, .w-dropdown-toggle, .w-nav-link, .is-cta-list--gp1) {
  color: white;
}
